@font-face {
        font-family: "TTLakes";
        font-style: normal;
        font-weight: normal;
        src: url("/Users/travix/Desktop/EDUkate/KATA-Drops/Project_1.3/Font/TTLakes/TTLakes-ExtraLight.woff");
    }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    font-family: TTLakes;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

main {
    background-color: #F8F8F8;
}

/*button-style*/

 .white-button {
    background-color: white;
    border: none;
}

.grey-button {
   background-color: #F8F8F8;
    border: none;
}



/*header-block*/

.header-block {
    width: 100vw;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
}

.header-block__space {
    display: block;
    width: 2px;
    height: 32px;;
    background-color: #EAEAEA;
    border-radius: 2px;
}

.header-block__logo {
    margin-left: 16px;
    margin-right: auto;
}

.header-block__space_Rmargin-20 {
    margin-right: 20px;
}

.header-block__space_Lmargin-20 {
    margin-left: 20px;
}


@media screen and (max-width: 767px) {
    .header-block__space_none {display: none;}
}

@media screen and (min-width: 1120px) {
    .header-block-none {display: none;}
}



/*menu-block*/

.menu-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-block__title {
    margin-left: 5%;
}

.menu-scroll a {
    text-decoration: none;
    color: inherit;
    padding: 5px 0;
    font-size: 16px;
}

.menu-scroll a:first-child {
    border: 2px solid #B8FFEC;
    background-color: white; 
    border-radius: 6px;
    width: 246px;
    text-align: center;
}

.menu-block__order-button_Lmargin-A {
    margin-left: auto;
}

.menu-block__search-button_Rmargin-5 {
    margin-right: 5%;
}

.button_text-and-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1119px) {
    .menu-block__order-button, 
    .menu-block__search-button {display: none;}
}

/*menu-scroll*/

.menu-scroll {
    display: flex;
    margin-left: 5%;
    overflow-x: auto;
    margin-top: 10px;
}

.menu-scroll a {
    flex-shrink: 0;
    margin-right: 3%;
}

@media screen and (min-width: 1120px) {
    .menu-scroll_wrap {flex-wrap: wrap;}
}

/*Content-block*/

.content-block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}   

.content-block__elem1 {
    margin-left: 5%;
    margin-right: 5%;   
}

.content-photo {
    Width: 90%;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
}

button[name='read-button'] {
    border: 0;
    background: url("/Users/travix/Desktop/EDUkate/KATA-Drops/Project_1.3/images/expand.svg") no-repeat;
    background-position: -5%;
}

.read-next {
    font-size: 16px;
    margin-left: 15px;
}

.text-tablet {
    display: none;
}

.text-desktop {
    display: none;
}

@media screen and (max-width: 767px) {
    .content-block {flex-direction: column;}
    .content-photo {width: 100%; border-radius: 0;}
}

@media screen and (min-width: 768px) {
    .content-block__elem1 {width: 50%;}
    .content-block__elem2 {width: 50%;}
}

@media screen and (min-width: 768px) {
    .text-tablet {display: inline;}
}

@media screen and (min-width: 1119px) {
    .text-desktop {display: inline;}
}